<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width;user-scalable:no" />
    <title>@(ViewBag.Title ?? "World Wide Wat")</title>
    <link href='//fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    @RenderSection("styles", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
